body {
    background-color: oklch(0.21 0.006 285.885);
}

div{
    background-color: oklch(0.274 0.006 286.033);
    border-radius: 10px;
    margin: 150px auto;
    padding: 30px;
    width: 50%;
    font-family: "Inter", sans-serif;
    text-align: center;
    color: #fff;
}

img {
    width: 88px;
    height: 88px;
    object-fit: cover;
    border-radius: 50%;
}

strong  {
    color: #05ba17;
}

ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

a {
    display: block;
    margin: 10px 0;
    padding: 10px;
    border-radius: 5px;
    background-color: oklch(0.37 0.013 285.805);
    cursor: pointer;
    text-decoration: none;
    color: #fff;
}

a:hover {
    background-color: #05ba17;
}